# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
Weather/.settings/org.eclipse.jdt.core.prefs
Weather/bin/dexedLibs/android-support-v4-3c94ff176c99f80622bfef5ce74f199e.jar
Weather/bin/classes.dex
Weather/bin/AndroidManifest.xml
Weather/bin/resources.ap_
Weather/bin/WeatherYuQ.apk
Weather/bin/Weather.apk
Weather/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
Weather/bin/res/crunch/drawable-xhdpi/ic_launcher.png
Weather/bin/res/crunch/drawable-mdpi/ic_launcher.png
Weather/bin/res/crunch/drawable-hdpi/ic_launcher.png
Weather/bin/jarlist.cache
Weather/bin/res/crunch/drawable-hdpi/icon.png
Weather/bin/dexedLibs/android-support-v4-db9d985143f37adad2a2e62dd370df7a.jar
Weather/bin/dexedLibs/BaiduLBS_Android-2a524774d0254a78f5e4eb5414b6c718.jar
Weather/bin/dexedLibs/gson-2.3.1-f6500bf72d24b125ebc9268fc4a2a8fe.jar
Weather/bin/dexedLibs/xUtils-2.6.14-6665c6f956bd526497d12ff248c0d730.jar
Weather/bin/dexedLibs/xUtils-2.6.14-ccc4431dea4d5eae81fd985eef5ddda0.jar
